<div class="container">
  <div class="container__left">
    <div class="weather" *ngIf="isWeather">
      <h2 class="weather__banner">
        You're in {{currentWeather.name}}
        and the weather is {{currentWeather.weather[0].description}}
      </h2>
    </div>
    <ng-template #noWeather>No weather</ng-template>
    <div class="painting__stats">
      <div>{{paintingTitle}}</div>
      <div>{{paintingArtist}}</div>
    </div>
  </div>
  <div class="container__right">
      <div class="painting">
        <div class="painting__image"
          *ngIf="isWeather; else noWeather"
          [ngStyle]="{'background-image': 'url('+ backgroundImage +')'}"
        >
        </div>
        <div class="painting__tags">
          <mat-chip-list class="tag" *ngFor="let tag of tags">
            <mat-chip>{{tag}}</mat-chip>
          </mat-chip-list>
        </div>
      </div>
  </div>
</div>
