.container {
  width: 100vw;
  height: 100vh;;

  &__left, &__right {
    width: 50vw;
    display: inline-block;
  }

  &__right {
    float: right;
    .painting {
      &__image {
        height: 75vh;
        text-align: center;
        vertical-align: middle;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
      &__tags {
        text-align: center;
        margin-top: 10px;
        .tag {
          display: inline-block !important;
          padding: 0 5px;
        }
      }
    }

  }

  &__left {
    font-family: 'Varela Round', sans-serif;
    height: 100vh;
    text-align: right;
    margin-top: 30vh;

    .painting__stats {
      margin-right: 1rem;
    }
    .weather {
      &__banner {
        color: #ccc;
        margin-right: 1rem;
      }
    }
  }
}

